@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');
:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --lightgray: #f8f8f8;
    --fontFamily: 'Montserrat', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;

}
/**************
Basic styles
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: var(--fontFamily);
   font-size: var(--fontSize);
}
ul {
    list-style: none;
}
/**************
Basic styles
**************/
header{
    background-image: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, .5)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding-top: 30px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-left: 80px;
    font-size: 2rem;
    cursor: pointer;
}
header nav span {
    font-style: italic;
    font-weight: 700;
}
header nav ul {
    display: flex;
    margin-right: 80px;
}
header nav ul li a{
    font-size: 1rem;
    text-transform: uppercase;
}
header nav ul li:hover {
    transform: scale(1.1);
    transition: var(--transition);
}
hgroup {
    padding-bottom: 200px;
    text-align: center;
}
hgroup h4 {
    font-size: 1.2rem;
    padding: 40px 0;
}
hgroup h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}
hgroup p {
    font-size: 1.2rem;
    font-style: italic;
}
.container {
    margin: auto;
    width: 90%;
}button {
    border: none;
    background: transparent;
    padding: 15px 40px;
    font-size: 1rem;
    border-radius: 30px;
    border: 1px solid black;
}
button:hover {
    transform: scale(1.1);
    background: var(--gray);
    cursor: pointer;
    transition: var(--transition);
    border: var(--gray);
}
/**************
About
**************/
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    border-bottom: 2px solid var(--gray);
}
.about article:first-child {
    flex: 0 0 57%;
    padding-left: 60px;
}
.about article:first-child h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}
.about article:first-child h4 {
    font-size: 1.2rem;
    padding: 0 0 20px 0;
}
.about article:first-child hr {
    border: none;
    height: 2px;
    width: 25%;
    background: var(--pink);
}
.about article:first-child p {
    margin: 20px 0;
    line-height: 1.6;
    letter-spacing: 1.1;
    text-align: justify;
}
.about article:last-child {
    flex: 0 0 37%;
}
.about article:last-child img {
    width: 100%;
    border-radius: 5% 0 0 5%; 
    box-shadow: 0 0 30px 5px var(--gray);  
}
/**************
Number
**************/
.number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}
.number article {
    flex: 25%;
    text-align: center;
}
.number article h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.number article hr {
    border:none;
    height: 1px;
    width: 20%;
    background: var(--gray);
    margin: 25px auto;
}
/**************
Team
**************/
.team {
    padding: 60px 60px;
    border-bottom: 2px solid var(--gray);
    border-top: 2px solid var(--gray);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.team article {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
}
.team article div:first-child {
    flex: 0 0 40%;
    padding-right: 40px;
}
.team article div:last-child {
    flex: 0 0 25%;
    padding-right: 40px;
}
.team article:nth-child(even) div:first-child {
    order: 2;
}
.team article:nth-child(odd) div:last-child {
    order: 1;
}
.team article:nth-child(even) {
    text-align: left;
    justify-content: flex-start;
}
.team article:nth-child(odd) {
    text-align: right;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.team article img {
    width: 100%;
    box-shadow: 0 5px 30px 0 var(--pink);
}
.team article img:hover {
    transform: scale(1.1);
    transition: var(--transition);
}
.team article div h4 {
    font-size: 1.2rem;
    padding: 0 0 20px 0;
}
.team article div hr {
    border: none;
    height: 1.5px;
    width: 50%;
    background: var(--pink);
    margin-bottom: 20px;
}
.team article:nth-child(odd) div hr {
    margin-left: 260px;
}
.team article div p {
    line-height: 1.5;
}
/**************
Services
**************/
.services {
    padding: 60px 60px;
    border-bottom: 2px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services article {
    flex: 0 0 28%;
}
.services article img {
    width: 100%;
    border-radius: 5% 5% 5% 5%; 
    box-shadow: 0 0 30px 5px var(--gray);  
}
.services article div {
    padding: 15px 10px;
}
.services article div:hover {
    transform: scale(1.1);
    transition: var(--transition);
    box-shadow: 0 5px 30px 0 var(--pink);
    border-radius: 10px;
}
.services article div h4 {
    font-size: 1.3rem;
    padding-bottom: 20px;
    color: var(--pink);
}
.services article div p {
    line-height: 1.5;
    text-align: justify;
}
/**************
Gallery
**************/
.gallery {
    padding: 60px 60px;
}
.gallery h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.gallery h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.gallery hr {
    border: none;
    height: 2px;
    width: 25%;
    background: var(--pink);
}
/**************
Pictures
**************/
.pictures {
    background: var(--lightgray);
    padding: 60px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.pictures article {
    flex: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.pictures article img {
    width: 100%;
    padding: 15px;
    object-fit: cover;
}
.pictures article img:hover {
    transform: scale(1.2);
}
.pictures article h4 {
    position: absolute;
    color: white;
    background: var(--pink);
    opacity: .7;
    padding: 10px 15px;
    top:50%;
    left: 37%;
}