@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Raleway:400,700');
:root {
    --pink: #f20f97;
    --black: #000;
    --white: #fff;
    --transition: .4s ease;
    --gray: gray;
    --lightgray: #f8f8f8;
    --fontFamily: 'Montserrat', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;

}
/**************
Basic styles
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: var(--fontFamily);
   font-size: var(--fontSize);
}
ul {
    list-style: none;
}
/**************
Basic styles
**************/
header{
    background-image: linear-gradient(rgba(0,0,0, .5),rgba(0,0,0, .5)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding-top: 30px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-left: 80px;
    font-size: 2rem;
    cursor: pointer;
}
header nav span {
    font-style: italic;
    font-weight: 700;
}
header nav ul {
    display: flex;
    margin-right: 80px;
}
header nav ul li a{
    font-size: 1rem;
    text-transform: uppercase;
}
header nav ul li:hover {
    transform: scale(1.1);
    transition: var(--transition);
}
hgroup {
    padding-bottom: 200px;
    text-align: center;
}
hgroup h4 {
    font-size: 1.2rem;
    padding: 40px 0;
}
hgroup h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}
hgroup p {
    font-size: 1.2rem;
    font-style: italic;
}
/**************
About
**************/
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}
.about article:first-child {
    flex: 0 0 57%;
    padding-left: 60px;
}
.about article:first-child h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}
.about article:first-child h4 {
    font-size: 1.2rem;
    padding: 0 0 20px 0;
}
.about article:first-child hr {
    border: none;
    height: 2px;
    width: 25%;
    background: var(--pink);
}
.about article:first-child p {
    margin: 20px 0;
    line-height: 1.6;
    letter-spacing: 1.1;
    text-align: justify;
}
.about article:first-child button {
    border: none;
    background: transparent;
    padding: 15px 40px;
    font-size: 1rem;
    border-radius: 30px;
    border: 1px solid black;
}
.about article:first-child button:hover {
    transform: scale(1.1);
    background: var(--gray);
    cursor: pointer;
    transition: var(--transition);
    border: var(--gray);
}
.about article:last-child {
    flex: 0 0 37%;
}
.about article:last-child img {
    width: 100%;
    border-radius: 5% 0 0 5%; 
    box-shadow: 0 0 30px 5px var(--gray);  
}
